html {
    width: 100%;
    height: 100%;
    background: url('../img/backgrounds/default.jpeg');
    background-size: 100%;
    background-position-y: sticky;
}

body {
    font-size: 16px;
    background: none;
}

/* ### Custom Panel CSS ### */
.panel {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.panel-heading {
    padding-left: 23px;
}

.panel .panel-heading {
    height: 48px;
}

.panel-heading .panel-title {
    font-size: 22px;
}

.panel-title h3 {
    float: left;
}

/* ### Custom Table CSS ### */
.table {
    margin-bottom: 0px;
}

.table-container {
    padding: 10px 15px;
}

.table th {
    font-size: 18px;
    text-align: left;
    font-weight: normal;
    margin: 0px;
}

.table > thead > tr > th {
    border: 0px;
}

/* ###  ### */
.wrapper {
    margin: 15px;
    padding: 15px;
}

#application-title, #settings-title {
    float: left; 
}

#refresh-icon {
    float: right;
}

.click-img {
    cursor: pointer;
}

#alert-panel {
    display: none;
}

#settings-icon {
    float: left;
    margin-right: 15px;
}

#settings-panel {
    display: none;
}

#close-icon {
    float: right;
}

#last button {
    width: 100%;
    padding-right: 0px;
}

.thumbnail {
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.thumbnail img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.thumbnail:hover .image-text {
  display: block;
}

.image-text {
    bottom: 140px;
    height: 100%;
    line-height: 140px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: -140px;
    display: none;
    cursor: pointer;
}

.image-text div {
    position: absolute;
    line-height: 100%;
}

.pack {
    height: 140px;
    width: 100%;
}

.pack p {
    margin-left: 15px;
    font-size: 16px;
    width: 100%;
}

.settings-col {
    display: table;
    width: 100%;
    min-height: 1px;
}

.settings-col:not(first-child) {
    margin-top: 5px;
}

.settings-col .col-md-6 {
    padding-left: 8px;
}

.settings-col .col-md-6:first-child {
    height: 100%;
}

.settings-col .col-md-6:not(:first-child) {
    padding-right: 0px;    
}

.settings-col .col-md-6:not(:first-child) button, ul {
    width: 100%;
}

#gallery-loading {
    height: 150px;
}