body {
    font-family: 'Roboto';
}

.panel .panel-heading {
    background-color: red;
}

.panel-title {
    color: white;
}

.panel-default, .panel-default > .panel-heading {
    border-color: black;
}

#table-view, .col-md-6 {
    color: black;
}

.btn-default {
    color: yellow;
    background-color: pink;
}

.btn-default:hover {
    color: pink;
    background-color: yellow;
}

.table-container, .panel-body {
    background-color: blue;
}

.image-text {
    color: brown;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: red;
    color: blue;
    border-color: blue;
}

.btn-primary:hover {
    background-color: blue;
    color: red;
    border-color: red;
}

.modal-title {
    color: red;
}

.modal-header {
    border-color: red;
}

.modal-content {
    background-color: purple;
}

.modal-footer {
    border-color: red;
}

.thumbnail {
    border-color: yellow;
}

.pace .pace-progress {
  background: red;
}