body {
    font-family: 'Roboto';
}

.panel .panel-heading {
    background-color: rgb(232, 232, 232);
}

.panel-heading .panel-title {
    color: rgba(0, 0, 0, 0.4);
}

.image-text {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}